.contenedordoctores{
    width: 100%;
    height: max-content;
    padding: 15px;
    
}

.tarjetadoctor{
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.753);
}

.ico-doc{
padding: 5px;
}

.ico-doc img{
 width: 64px;
 height: 64px;
 border-radius: 50px;
}

.info-doc{
    height: 100%;
    padding: 15px;
}
.cnombredoctor{
    font-weight: bold;
}

.cespecialidad{
    color: darkgrey;
}

